page-bookings {
	
	.wholeScreen{
		scroll-content {
	        display: flex;
	        flex-direction: column;
	    }
	 
	    ion-grid {
	        padding: 0;
	        height: 100%;
	    }  
	}

	.navBar{
		height: 18%;
	}

	.customButton1{
		border-radius: 12px;
		background-color: rgba(255,255,255, 0.1);
	}
}
