page-roomservice {
  .page {

	    scroll-content {
	        display: flex;
	        flex-direction: column;
	    }

	    ion-grid {
	        padding: 0;
	        height: 100%;
	    }
	}

	.bg{
		height: 75%;
		width: 100%;
		border-radius: 0px 0px 25px 25px;
		background: linear-gradient(to bottom right,#F59F6A, #F55665);
		box-shadow: rgba(0,0,0,0.3) 0 0 10px;
	}

	.canvasLogo {
		height: 25%;
		width: 100%;
	}

  .serviceBox {
    margin: 1em;
    padding: 1em;
  }

  .serviceIcon {
    height: 60%;
    width: 50%;
  }

	.inputArea {
		height: 60%;
		display: table-cell;
		vertical-align: middle;

	}
}
