page-profile {
  .page {

      scroll-content {
          display: flex;
          flex-direction: column;
      }

      ion-grid {
          padding: 0;
          height: 100%;
      }
  }

  .avatar {
    border-radius: 50%;
    height: 148px;
    width: 148px;
  }
}
