page-devpage {
	.wholeScreen{
		scroll-content {
	        display: flex;
	        flex-direction: column;
	    }
	 
	    ion-grid {
	        padding: 0;
	        height: 100%;
	    }  
	}

	.card{
		height: 75%;
		width: 100%;
	}

	.banner{
		height:100%;
		width:100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../assets/imgs/homeImg.png');
	
	}

	.customButton1{
		border-radius: 12px;
		background-color: rgba(255,255,255, 0.1);
	}
}
