// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.boxedInput{
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.gradient{
	background: linear-gradient(to bottom right,#F59F6A, #F55665);
	box-shadow: rgba(0,0,0,0.3) 0 0 10px;
}

.cardBottomOnly{
	border-radius: 0px 0px 25px 25px;
}